---
apiVersion: v1
kind: ConfigMap
metadata:
  name: unbound-config
  namespace: kube-system
data:
  unbound.conf: |
    server:
      interface: 0.0.0.0
      port: 53
      do-ip4: yes
      do-udp: yes
      do-tcp: yes
      access-control: 127.0.0.0/8 allow
      access-control: {{ lan_subnet }} allow
      hide-identity: yes
      hide-version: yes
      cache-min-ttl: 300
      cache-max-ttl: 86400
      prefetch: yes

    local-zone: "{{ internal_domain }}." transparent
{% for host in groups['all'] | sort %}
    local-data: "{{ host }}.{{ internal_domain }}. IN A {{ hostvars[host]['ansible_host'] }}"
{% endfor %}

    forward-zone:
      name: "."
      forward-addr: 1.1.1.1
      forward-addr: 1.0.0.1
      forward-addr: 8.8.8.8
---
apiVersion: v1
kind: Pod
metadata:
  name: unbound
  namespace: kube-system
  labels:
    app: unbound
spec:
  hostNetwork: true
  dnsPolicy: ClusterFirstWithHostNet
  nodeSelector:
    kubernetes.io/hostname: master01.{{ internal_domain }}
  containers:
  - name: unbound
    image: cjuniorfox/unbound:1.20.0
    ports:
    - containerPort: 53
      hostPort: 53
      protocol: UDP
      name: dns-udp
    - containerPort: 53
      hostPort: 53
      protocol: TCP
      name: dns-tcp
    securityContext:
      capabilities:
        add: ["NET_BIND_SERVICE"]
    volumeMounts:
    - name: config
      mountPath: /etc/unbound/
      readOnly: true
  volumes:
  - name: config
    configMap:
      name: unbound-config
